@import '@/app/assets/styles/colors.scss';

.container {
  height: 456px;
  background-size: cover;
  background-position: center;
  padding: 50px;

  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $white;

    .title {
      font-size: 2.5rem;
    }

    .date {
      font-size: 1rem;
    }
  }
}
